.container{
    display: flex;
    width: 960px;
    height: auto;
    flex-wrap: wrap;
    border: red 2px solid;
    height: 960px;
    gap: 0;

}

.box{
    margin: 0;
    padding: 0;
    height: auto;
    border: blue 2px solid;
    box-sizing: border-box;
    flex: 1 1 auto;
   

}

body{
    text-align: center;
}

 